extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Sheridan Injeeli

        p Full Stack JavaScript Developer

        .about-bio
          p Our platform is a comprehensive coding resource designed to empower developers of all levels. With our extensive library of tutorials, documentation, and real-world examples, you can quickly learn new programming languages, frameworks, and tools. Our interactive coding exercises and challenges provide hands-on experience to sharpen your skills and problem-solving abilities. Collaborate with a vibrant community of fellow developers, share your projects, and gain valuable feedback. Whether you're a beginner looking to get started or an experienced coder seeking to level up, our platform is your go-to resource for continuous learning and growth in the ever-evolving world of coding.

      .skills-contact-box.box
        h6 My Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.btn-link(href='https://github.com/sinjeeli') GitHub


    nav.nav
      a(href='/')
        span &larr;
        |  Back