extends layout

block content
  article.portfolio-intro
    // Intro content...

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          h2= project.project_name
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.project_image[0]}`, alt=`Thumbnail - ${project.project_name}`)
