extends layout.pug

block content
  article.portfolio-intro
    h1 My Portfolio

    p Welcome to Sheridan Injeeli's coding portfolio! As a skilled and passionate coder, Sheridan brings creativity, dedication, and a strong problem-solving mindset to every project. With a diverse range of programming languages, frameworks, and technologies in their toolkit, Sheridan has the ability to develop innovative solutions for various industries and challenges. From web development to mobile applications, Sheridan's portfolio showcases their expertise in delivering high-quality, user-centric experiences. With a keen eye for design and a commitment to writing clean, efficient code, Sheridan's projects demonstrate their ability to transform ideas into functional and visually appealing applications. Explore Sheridan's portfolio to witness their coding prowess and see how they can bring your digital visions to life.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href="project/" + project.id)
            img.thumbnail(src= project.image_urls[0], alt= "Thumbnail of " + project.project_name)
            h5= project.project_name