<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src="/static/images/profile-pic.jpg", alt='')
        .dev-intro-box

          //- Replace with your name
          h5 Sheridan Injeeli

          //- Replace with description of who you are, what you do, and why you are so awesome
          p Sheridan Injeeli is an aspiring learner of coding, specifically focusing on JavaScript. With an eagerness to expand their knowledge and skills in the world of programming, Sheridan is dedicated to continuously improving and growing as a developer. Driven by curiosity and a passion for problem-solving, Sheridan embraces challenges and approaches them with a positive mindset. Their enthusiasm for learning fuels their motivation to explore various concepts, techniques, and best practices in JavaScript development. Sheridan's commitment to continuous learning is reflected in their proactive approach to staying up-to-date with the latest trends and advancements in the JavaScript ecosystem. Whether it's diving into new frameworks, libraries, or experimenting with innovative coding techniques, Sheridan is always eager to explore and expand their skill set. With a strong foundation in JavaScript and a hunger for knowledge, Sheridan embraces new opportunities to apply their coding skills and contribute to meaningful projects. Through their dedication, adaptability, and eagerness to learn, Sheridan is on a journey to become a proficient JavaScript developer and make a positive impact in the world of coding.


          //- Add path from your '/about' route handler to the href below
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Replace with your name — this is for the mobile layout
          span Sheridan

      block content

  script(src='/static/js/script.js')